.list-container{
    display: flex;
    border: 6px;
    border-style: solid;
    border-color: rgb(0, 217, 255);
    height: 365.55px;
    width: 100%;
    color: #121212;
    justify-content: space-between;
}

.sign-up-item{
display: flex;
height: 365.55px;
width: 33%;
border: 6px;
border-style: solid;
border-color: rgb(0, 255, 26);
margin-left: 0;
}

li{
    text-decoration: none;
    list-style: none;
}

a{
    text-decoration: none;
    color: #121212;
}