.list-container{
    display: flex;
    border: 6px;
    border-style: solid;
    border-color: rgb(0, 217, 255);
    height: 365.55px;
    width: 100%;
    color: #121212;
    justify-content: space-between;
}

.sign-up-item-container{
display: flex;
flex-direction: column;
gap: 20px;
align-items: center;
height: 365.55px;
width: 33%;
border: 6px;
border-style: solid;
border-color: rgb(0, 255, 26);
margin-left: 0;
}

li{
    text-decoration: none;
    list-style: none;
}

a{
    text-decoration: none;
    color: #121212;
}

.lanuages{
    border: 6px;
    border-style: solid;
    border-color: rgb(255, 0, 149);
    width: 66%;
    height: 10%;
}