.headerNavBar{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.gray-header{
    display: flex;
    background-color: #282828;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font: 16px "Open sans",sans-serif;
}

.gradient-header{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to left, #8d2d92, #141330);
    font: 16px "Open sans",sans-serif;

}

.gradient-header:hover{
    text-decoration: underline;
    cursor: pointer;

}

.white-header{
    display: flex;
    align-items: center;
}

.menu-icon{
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
}


.sign-in{
    font: 12px "Open sans",sans-serif;
    color: #000000;
}

.shopping-cart{
    font: 12px "Open sans",sans-serif;
    color: #000000;
}

.trade-in{
    font: 12px "Open sans",sans-serif;
    color: #000000;
}

.gamestop-pro{
    font: 12px "Open sans",sans-serif;
    color: #000000;
}